extend layout
block content
	h1 #{title}
	p.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius feugiat lacinia. Donec vehicula ipsum mi, sed accumsan nisl tincidunt at. Quisque sit amet tincidunt odio, ut euismod eros. Pellentesque congue placerat ante, at placerat leo egestas commodo. Ut rhoncus ipsum eu justo iaculis laoreet. 
	p.
		Suspendisse ornare convallis lorem, non venenatis tortor finibus quis. Aliquam euismod purus nibh, in ultricies risus cursus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vel iaculis enim. Integer et mollis nibh.
block sidebar
	.block
		h1 Right Sidebar
		p.
			Etiam mattis purus id quam finibus laoreet. Nam ipsum sapien, gravida at vulputate sed, eleifend sit amet nunc.
		br
		.readmore
			a(href='http://example.com') Read More
